* {
    box-sizing: border-box;
}

:root {
    --primary-heading: #212832;
    --primary-text: #696d76;
    --primary-color: #7264d6;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Open Sans, sans-serif;
    background: #fff;
}

/* Common */
h1,
h2 {
    color: var(--primary-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
}

input,
button {
    border: none;
    outline: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section-heading {
    font-size: 6rem;
    line-height: 1.16;
}

.section-desc {
    color: var(--primary-text);
    font-size: 1.8rem;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 113px;
    height: 52px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    border-radius: 6px;
    color: #fff;
    background: #212832;
}

.btn:hover {
    opacity: 0.9;
}

.section-name {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 1.75;
}

.section-name::before {
    display: inline-block;
    content: "";
    margin-right: 12px;
    width: 18px;
    height: 2px;
    background: var(--primary-text);
}

/* Header */
.header__inner {
    display: flex;
    align-items: center;
    padding: 42px 0;
}

.navbar__list {
    display: flex;
    margin-left: 70px;
}

.navbar__item {
    position: relative;
}

.navbar__item-link {
    padding: 8px 24px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.navbar__item-link:hover {
    color: #212832;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__item-link-active::before {
    position: absolute;
    content: "";
    bottom: 0;
    width: calc(100% - 48px);
    height: 1px;
    border-radius: 1px;
    background: var(--primary-background);
}

.header__action {
    margin-left: auto;
}

.header__action-link-login {
    padding: 12px 28px;
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

/* Hero */
.hero {
    padding: 34px 0 80px;
}

.hero__inner {
    display: flex;
    align-items: center;
    column-gap: 160px;
}

/* Hero content */
.hero__content-heading {
    margin-top: 12px;
    width: 500px;
}

.hero__content-heading-highlight {
    color: var(--primary-color);
}

.hero__content-desc {
    margin-top: 20px;
    width: 540px;
    line-height: 1.66;
}

.hero__content-form {
    display: flex;
    align-items: center;
    margin-top: 40px;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero__content-form-input {
    width: 100%;
    height: 100%;
    padding: 0 24px 0 23px;
    color: var(--primary-text);
    font-size: 1.6rem;
    line-height: 1.75;
}

.hero__content-form-input::placeholder {
    color: var(--primary-text);
    font-size: 1.6rem;
    line-height: 1.75;
}

.hero__content-form-submit {
    min-width: 149px;
    margin-right: 8px;
    background: var(--primary-color);
}

.hero__content-note {
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

/* Hero media */
.hero__media-wrap {
    position: relative;
    width: 296px;
}

.hero__media-img {
    width: 100%;
}

.hero__media-deposit,
.hero__media-interest,
.hero__media-secured {
    position: absolute;
    display: flex;
    align-items: center;
}

.hero__media-deposit {
    top: 113px;
    left: -100px;
    padding: 0 10px;
    color: #31456a;
    background: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    width: 174px;
    height: 46px;
    border-radius: 6px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero__media-deposit-img {
    margin-right: 8px;
}

.hero__media-deposit-price {
    margin-left: auto;
    color: #4ab5e3;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
}

.hero__media-interest {
    justify-content: center;
    flex-direction: column;
    top: 127px;
    right: -174px;
    color: #fff;
    font-size: 1.6rem;
    width: 130px;
    height: 130px;
    background: #da6464;
    border-radius: 50%;
}

.hero__media-interest-number {
    font-size: 4.4rem;
    font-weight: 600;
}

.hero__media-secured {
    justify-content: space-between;
    right: -74px;
    bottom: 61px;
    width: 124px;
    height: 68px;
    padding: 0 14px;
    border-radius: 10px;
    background: #439f90;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1;
}

.hero__media-secured-content {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.hero__media-secured-price {
    font-size: 1.4rem;
    font-weight: 600;
}

/* Main */
/* Work */
.work {
    padding: 80px 0;
}

.work__inner {
    display: flex;
    align-items: center;
    column-gap: 230px;
}

.work__media-wrap {
    position: relative;
    width: 470px;
}

.work__media-img {
    width: 100%;
}

.work__media-card {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 76px;
    right: 62px;
    width: 64px;
    height: 64px;
    border: 12px solid #7264d6;
    border-radius: 8px;
}

.work__media-card::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 8px;
    z-index: 1;
}

.work__media-card svg {
    z-index: 2;
}

.work__media-congratulation {
    position: absolute;
    display: flex;
    align-items: center;
    right: -100px;
    bottom: 96px;
    color: var(--primary-text);
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    width: 226px;
    height: 70px;
    padding-left: 15px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.work__media-congratulation-check {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 10px solid #4ab5e3;
    border-radius: 8px;
}

.work__media-congratulation-check::before {
    position: absolute;
    content: "";
    width: 19px;
    height: 19px;
    border: 6px solid #4ab5e3;
    z-index: 1;
    border-radius: 50%;
}

.work__media-congratulation-content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    row-gap: 8px;
}

.work__media-congratulation-head {
    color: #212832;
    font-family: Inter, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

/* Work content */
.work__content-heading {
    margin-top: 12px;
    font-size: 4rem;
    line-height: 1.25;
}

.work__content-list {
    margin-top: 70px;
}

.work__content-item + .work__content-item {
    margin-top: 30px;
}

.work__content-item-heading {
    color: var(--primary-heading);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
}

.work__content-item-desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
}
